build/
cmake-build-*/
out/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
CTestCustom.cmake
Makefile
CMakeScripts/

*_config.h
*_autogen/

compile_commands.json

.vscode/
.idea/
*.user
*.sln
*.vcxproj*
*.xcodeproj

*.exe
*.out
*.app
